# ---------- PyTorch CUDA 12.1 wheels ----------
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchaudio==2.5.1+cu121

# ---------- main libs ----------
whisperx==3.1.1
pyannote.audio==3.1.1
speechbrain==1.0.0
ctranslate2==4.4.0

# ---------- speechbrain dependencies ----------
sentencepiece==0.2.0

# ---------- utilities ----------
pydub==0.25.1
numpy==1.26.4
scipy==1.13.1
librosa==0.10.2
huggingface-hub==0.26.2
hf_transfer==0.1.8

# ---------- runpod ----------
runpod==1.7.3

# ---------- misc ----------
cryptography==42.0.8
python-dotenv==1.0.1